{
    "root": true,
    "parser": "@typescript-eslint/parser",
    "env": { "node": true },
    "plugins": [
      "@typescript-eslint"
    ],
    "extends": [
      "eslint:recommended",
      "plugin:@typescript-eslint/eslint-recommended",
      "plugin:@typescript-eslint/recommended"
    ], 
    "parserOptions": {
        "sourceType": "module"
    },
    "rules": {
      "no-unused-vars": "off",
      "@typescript-eslint/no-unused-vars": ["error", { "args": "none" }],
      "@typescript-eslint/ban-ts-comment": "off",
      "no-prototype-builtins": "off",
      "@typescript-eslint/no-empty-function": "off",
      "@typescript-eslint/no-explicit-any": "off",
      "no-restricted-imports": [
         "error",
         {
           "paths": [
             {
               "name": "fs",
               "message": "Do not use Node's fs module."
             },
             {
               "name": "path",
               "message": "Do not use Node's path module."
             },
             {
               "name": "http",
               "message": "Do not use Node's http module."
             },
             {
               "name": "crypto",
               "message": "Do not use Node's crypto module."
             }
           ]
         }
       ]
    } 
  }
